# Используйте данный файл для локального конфигурирования
# Создайте на его основе файл ".env"
IMG_DB=postgres:15.14 # name image bd
IMG_JAVA=bellsoft/liberica-openjre-alpine:21-cds # name image jre
IMG_SQUIDSTAT=squid-statistic # name img squid-statistic